body {
    padding-top: 60px;
}
#starter-template {
    padding-top: 10px;
}
#editor {
    position: absolute;

    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;

    height: 500px;
}
#onscreen {


    height: 500px;
    background: #fff;
    z-index: 100;
    overflow-y: scroll;
}